footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
    padding: 0px;
    margin: 0px;
    color: #474838;box-sizing: border-box;
  }